* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
h2:hover {
  font-size: 2rem;
  color: crimson;
}
div {
  font-size: 5rem;
}
div:hover {
  font-size: 6rem;
  color: yellowgreen;
}
